.input-group {
    display: inline-block;
    padding: 10px;
    row-gap: 10px;
    margin-right: 10px;
}

.title {
    font-size: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    display: flex;
}

label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    margin-bottom: 10px;
}

input {
    display: block;
    padding: 10px;
    width: 250px;
}

select {
    padding: 10px;
    width: 250px;
    text-indent: 5px;
}
label {
    align-self: center;
}

.enter-feature-form {
    flex: 1;
    width: 300px;
    gap: 5px;
}

.response-container {
    height: 500px;
    flex: 1;
    display: flex;
    align-items: center;
}

#response {
    margin-left: 0px;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

button {
    display: block;
    margin-top: 50px;
    margin-left: 200px;
    background-color: #2580ff; /* Blue background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Cursor style */
    outline: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-row {
    display: block;
}